# Django
.env
*.log
*.pot
*.pyc
__pycache__/
# IDE
.vscode/
# Other
__pycache__/
*.pyo
*.swp
*.swo
*.bak
*.pyc
.DS_Store
*.sqlite3
.vercel
node_modules
*.env
*.sql
*.sqlite3
*.sqlite
/bin
/lib
/.wrangler
