{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block form %}
{% if user.is_authenticated %}
<h1 class="main_title">Hello {{user.username}}</h1>
<br>
<button class="next_btn" type='submit' onclick="window.location.href = '{% url 'profile' %}';">Profile</button>
<br>
<button class="next_btn" type='submit' onclick="window.location.href = '{% url 'Logout Request' %}';">Logout</button>
<br>
{% else %}
<a  href="{% url 'Login Page' %}"><h1 class="main_title">Not Logged in</br>Click to Log In</h1></a>
{% endif %}
{% endblock form %}
